<p class="lead">Pentru orice informatie ne poti contacta la numerele de telefon:
    <b>0744.155.122</b> sau <b>0745.634.948</b> <br>
Daca doriti sa va contactam noi, completati formularul de mai jos:
</p>
<p style="font-weight: 8px;">(campurile marcate cu * sunt obligatorii)</p>

<form #form="ngForm" (ngSubmit)="submit(form)">
        <div class="form-group">
                <label for="numePrenume">Nume si Prenume*</label>
                <input
                    required
                    ngModel
                    name="numePrenume"
                    #numePrenume="ngModel"
                    id="numePrenume" 
                    type="text" 
                    class="form-control">
                <div class="danger alert-danger" *ngIf="numePrenume.touched && !numePrenume.valid">Introduceti numele si prenumele.</div>
            </div>
            <div class="form-group">
                <label for="telefon">Nr. Telefon*</label>
                <input 
                    required
                    ngModel
                    name="telefon"
                    #telefon="ngModel"
                    id="telefon" 
                    type="number"
                    class="form-control">
                <div class="danger alert-danger" *ngIf="telefon.touched && !telefon.valid">Introduceti un numar de telefon valid.</div>
            </div>
            <div class="form-group">
                <label for="email">Adresa Email</label>
                <input 
                    ngModel
                    name="adresaEmail"
                    id="email" 
                    type="text" 
                    class="form-control">
            </div>    
            <div class="form-group" >
                <label *ngIf=(!statusRent)                    
                    style="padding: 5px;"
                    [ngClass]="statusSell ? 'btn-primary' : 'btn-secondary'">
                <input 
                    required
                    ngModel
                    name="vanzareCumparare"
                    type="checkbox"
                    class="" 
                    (click)="clickEventSell()"> Vanzare/Cumparare
                </label>
                <div style="width: 20px;"></div>
                <label
                    *ngIf=(!statusSell)
                    style="padding: 5px;"
                    [ngClass]="statusRent ? 'btn-primary' : 'btn-secondary'" 
                    style="padding: 5px;">
                <input 
                    required
                    ngModel
                    name="rent-a-car"
                    type="checkbox"
                    (click)="clickEventRent()"> Inchiriere
                </label>
            </div>
            <div class="form-group">
                <label for="informatii">Cu ce informatii va putem ajuta?*</label>
                <textarea 
                required
                ngModel
                #informatii="ngModel"
                name="informatii"
                class="form-control" 
                id="informatii" 
                rows="3"></textarea>
                <div class="danger alert-danger" *ngIf="informatii.touched && informatii.value.length<20">Introduceti inca cel putin {{20 - informatii.value.length}} caractere.</div>
                <div class="danger alert-danger" *ngIf="informatii.touched && informatii.value.length>200">Introduceti cel mult 250 caractere.</div>
            </div>
              
        <button class="btn btn-primary" type="submit" (click)="showSuccess()" [disabled]="!form.valid">Trimite</button>
    </form>