.dropdown-toggle {
    cursor: pointer;
}

.navbar {
    background-color: #1a66ff;
}

.dropdown-item:hover {
    background:#1a66ff;
    color:white;
}

.badge {
    background-color: #ffff66;
    color: #1a66ff;
}

.nav {
    margin: 10px;
}

.nav-link{
    color: white;
    outline-color: #ffff66;
    font: bold;
    font-size: 140%;
}
.nav-link:hover {
    color: black; 
    cursor: pointer;    
}
