.dropdown-toggle {
    cursor: pointer;
}

.navbar {
    background-color: #1a66ff;
    color: black;
}

.dropdown-item:hover {
    background:#1a66ff;
    color:white;
}

.badge {
    background-color: #ffff66;
    color: #1a66ff;
}

.nav {
}

.nav-link{
    color: black;
    outline-color: #ffff66;
}
.nav-link:hover {
    color:#ffff66; 
    cursor: pointer;    
}