.dropdown-toggle {
    cursor: pointer;
}

.navbar-brand {
    color:white;
}
.navbar {
    background-color: #1a66ff;
}

.dropdown-item:hover {
    background:#1a66ff;
    color:white;
}

.badge {
    background-color: #ffff66;
    color: #1a66ff;
}

.nav-link {
    color: black;
}
.nav-link:hover {
    color:#ffff66; 
    cursor: pointer;
    
}