<ngb-carousel>
    <ng-template ngbSlide *ngFor="let x of images;let i = index ">
        <div class="picsum-img-wrapper">
            <img [src]="images[i]" class="w-100">
        </div>                          
    </ng-template>                        
</ngb-carousel>
<div class="table-responsive">
<table class="table">
    <tbody>
        
        
        <tr>
            <th scope="row"><h5>Detalii</h5></th>
            <div class="container test">
                    <div class="row">
                      <div class="col-sm">
                            08.2006<br>
                            163cp<br>
                            Jante aluminiu<br>
                            Senzori fata/spate+display<br>
                            Ceata<br>
                            Carlig<br>
                      </div>
                      <div class="col-sm">
                            Spalatori faruri <br>
                            Volan piele<br>
                            Comenzi volan<br>
                            Bord color<br>
                            Incalzire in scaune<br>
                            Bordcomputer<br>                            
                      </div>
                      <div class="col-sm">
                            CLIMATRONIC<br>
                            6+1 viteze<br>
                            Start/stop<br>
                            Abs/Esp/Airbags<br>
                            Geamuri/oglinzi electrice<br>
                            Scaune fata partial electrice<br>
                      </div>
                    </div>
             </div>
        </tr>
        <tr>
                <th scope="row"><h5>Marca</h5></th>
                <td class="test2"><h6>Wolkswagen Q5</h6></td>
            </tr>
        <tr>
                <th scope="row"><h5>Pret</h5></th>
                <td class="test2"><h6>10.000 Euro</h6></td>
            </tr>
            
    </tbody>
</table>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()" style="font: black;">Inchide anuntul</button>
</div>