<div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
                <img id="optionalstuff" class="wallpaper img-responsive img-fluid" src="assets\image\wallpaper.jpg">
          </div>         
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="lead entryText">Societatea noastra are o experienta vasta in oferirea de servicii de rent a car de calitate superioara, la preturi avantajoase si cu toate dotarile necesare confortului dorit.
              Alfa Auto Zalau este companie de vanzare si inchiriere de vehicule pe plan intern care extinde serviciul rent a car la cele mai inalte standarde, oferit si clientilor nostri pe internet, pentru a inchiria un autoturism,SUV, minivan, masini sportive sau orice alt model. Flota Alfa Parc Auto ofera o gama larga de masini, pentru satisfactia oricarui client. Alfa Parc Auto este oriunde pentru a-ti oferi suportul mobil de care ai nevoie, fie prin internet, fie prin metodele traditionale. Cu cateva detalii sunt suficiente pentru a rezerva masina dorita,
              avand avantajul celor mai bune oferte Alfa Auto-Buy/Rent a Car Zalau.
            </p>
          </div>          
        </div>        
        <blockquote class="blockquote text-left">
          <p class="h5">Ultimele anunturi adaugate:</p>
        </blockquote>
        <div class="row">
          <div class="col-sm-6 col-md-4" >
              <anunt></anunt>
          </div>       
          <div class="col-sm-6 col-md-4" >
            <anunt></anunt>
          </div>
          <div class="col-sm-6 col-md-4" >
            <anunt></anunt>
          </div> 
      </div>
      </div>
